<ul class="menu">
    <app-menu-item label="Dashboard" [icon]="icons.faHome" ></app-menu-item>
    <app-menu-item label="Orders" badgeText="16" [icon]="icons.faList" ></app-menu-item>
    <app-menu-item label="Products" [icon]="icons.faTag" ></app-menu-item>
    <app-menu-item label="Categories" [icon]="icons.faFolder" ></app-menu-item>
    <app-menu-item label="Customers" [icon]="icons.faUserGroup"></app-menu-item>
    <app-menu-item label="Reports" [icon]="icons.faChartSimple"></app-menu-item>
    <app-menu-item label="Coupons"></app-menu-item>
    <app-menu-item label="Inbox" [icon]="icons.faMessage"></app-menu-item>
    <h3 class="menu-heading">Other Information</h3>
    <app-menu-item label="Knowledge Base" [icon]="icons.faQuestionCircle"></app-menu-item>
    <app-menu-item label="Product Update" [icon]="icons.faAward"></app-menu-item> 
    <h3 class="menu-heading">Settings</h3>
    <app-menu-item label="Personal Settings" [icon]="icons.faUser"></app-menu-item>
    <app-menu-item label="Global Settings" [icon]="icons.faCog"></app-menu-item> 
</ul>