<div class="categories-wrapper">

    <div class="heading">
        <h1>Categories</h1>
        <button>
            <fa-icon [icon]="icons.faPlus"></fa-icon>
            Add Category
        </button>
    </div>
    <div class="categories">
        <app-category-card title="Men Clothes" description="24 items" imgSrc="assets/Mens-Clothes.jpg"></app-category-card>
        <app-category-card title="Women Clothes" description="12 items" imgSrc="assets/Womens-Clothes.jpg"></app-category-card>
        <app-category-card title="Accessories" description="43 items"imgSrc="assets/Accessories.jpg"></app-category-card>
        <app-category-card title="Cotton Clothes" description="21 items"imgSrc="assets/Cotton-Clothes.jpg"></app-category-card>
        <app-category-card title="Summer Clothes" description="36 items"imgSrc="assets/Summer-Clothes.jpg"></app-category-card>
        <app-category-card title="Wedding Clothes" description="52 items"imgSrc="assets/Wedding-Clothes.jpg"></app-category-card>
        <app-category-card title="Spring Collection" description="24 items"imgSrc="assets/Spring-Collection.jpg"></app-category-card>
        <app-category-card title="Casual Clothes" description="52 items"imgSrc="assets/Casual-Clothes.jpg"></app-category-card>
        <app-category-card title="Hats" description="26 items"imgSrc="assets/Hats.jpg"></app-category-card>
    </div>
    
</div>